/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* variable css */
:root{
    --header-height: 3rem;
    --nav-width: 324px;
    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* colors */
    --first-color: #cc4b2c;
    --first-color-dark: #662616;
    --first-color-darken: #290f00;
    --text-color: #54423d;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;


    /* font and typography */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* margenes */
    --mb-1: .5rem;
    --mb-1: .5rem;
    --mb-1: .5rem;
    --mb-1: .5rem;
    --mb-1: .5rem;

    /* z index */
}